# --- ĐƯỜNG DẪN DỮ LIỆU & KẾT QUẢ ---
# Đường dẫn tới thư mục tập dữ liệu gốc (3 phân lớp)
DATASET_DIR=./Dataset/Three Classes

# Đường dẫn tới thư mục tập dữ liệu cà chua mới để Transfer Learning
DATASET_CACHUA_DIR=./Dataset_Cachua

# Thư mục lưu kết quả huấn luyện (trọng số mô hình, biểu đồ, báo cáo)
RESULTS_DIR=./results

# --- CẤU HÌNH ĐÁNH GIÁ MÔ HÌNH (EVALUATION) ---
# Đường dẫn tới tệp trọng số mô hình đã huấn luyện (.pth) cần đánh giá
EVAL_MODEL_PATH=./results/train_save_model/base_cnn_best.pth

# Đường dẫn tới thư mục tập test chứa các thư mục con Reject, Ripe, Unripe
EVAL_TEST_DIR=./Dataset_Cachua_Test

