# --- ĐƯỜNG DẪN DỮ LIỆU & KẾT QUẢ ---
# Đường dẫn tới thư mục tập dữ liệu gốc (3 phân lớp)
DATASET_DIR=./Dataset/Three Classes

# Đường dẫn tới thư mục tập dữ liệu cà chua mới để Transfer Learning
DATASET_CACHUA_DIR=./Dataset_Cachua

# Thư mục lưu kết quả huấn luyện (trọng số mô hình, biểu đồ, báo cáo)
RESULTS_DIR=./results
